#breadcrumb {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
}

#breadcrumb a {
  text-decoration: none;
  color: #ffffff;
}

.is-active {
  color: #2db6e0;
}
