<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [ngClass]="{'active': currentPath === '' }" routerLink="" (click)="drawer.toggle()">Home</a>
      <a mat-list-item [ngClass]="{'active': currentPath.indexOf('/functional-testing') > -1 }" routerLink="/functional-testing" (click)="drawer.toggle()">Functional testing</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutAlign="left center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="logo">
        <a routerLink="/" fxLayoutAlign="center">
          <img src="/assets/images/logo.png" alt="QA logo"/>
        </a>
      </span>
      <!-- <span>QA training sandbox</span> -->
    </mat-toolbar>

<div id="main-container" tabindex="-1">
  <router-outlet></router-outlet>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
