<ng-container *ngIf="equivalencePartitioningTutorial | async as tutorial">
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<h1 fxLayoutAlign="text center">
  <mat-icon class="title-icon" *ngIf="tutorial.tutorialType==='learn'" inline="true">
    school
  </mat-icon>
  <span class="title-text">{{tutorial.title}}</span>
  <span class="difficulty">Difficulty: {{tutorial.difficulty}}/10</span>
</h1>
<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="50">

    <mat-tab-group>
      <mat-tab label="User story">
        <div [innerHTML]="tutorial.userStory"></div>
      </mat-tab>
      <mat-tab label="Acceptance criteria">

        <ng-container *ngFor="let criteria of tutorial.acceptanceCriteria; let i = index">
          <div fxLayout="row">
            <div fxFlex="20px" class="accent-light"><p><strong>{{i+1}}.</strong></p></div>
            <div fxFlex="grow" [innerHTML]="criteria"></div>
          </div>

          <hr class="light-dotted" *ngIf="i !== tutorial.acceptanceCriteria.length - 1" />
        </ng-container>

      </mat-tab>

      <mat-tab label="Partitions">

        <ng-container *ngIf="tutorial.tutorialType === 'try'">
          <h2>Exercise</h2>
          <p>Try and work out the partitions yourself from the acceptance criteria.</p>
          <p>When you are ready to check, click on the 'Show partitions' button to see how you did.</p>
          <p><em>Use the green thumbs up to add a valid partition and the red thumbs down for an invalid partition.</em></p>
        </ng-container>

        <div *ngIf="tutorial.tutorialType === 'try'">
          <div class="actions">
            <button mat-mini-fab class="valid" matTooltipPosition="above" matTooltip="Add valid partition" (click)="addTryPartition('Valid')">
              <mat-icon>
                thumb_up
              </mat-icon>
            </button>
            <button mat-mini-fab class="invalid" matTooltipPosition="above" matTooltip="Add invalid partition" (click)="addTryPartition('Invalid')">
              <mat-icon>
                thumb_down
              </mat-icon>
            </button>
          </div>

          <div class="try-row-container">
            <div class="try-row" fxLayout="row" *ngFor="let try of tryPartitions; let i = index">
              <div fxFlex="70px" class="try-row-type" [ngClass]="{'valid': try.type === 'Valid', 'invalid': try.type === 'Invalid'}" fxLayoutAlign="text center">{{try.type}}</div>
              <input fxFlex="grow" type="text" matInput placeholder="Add short description">
              <div class="try-row-buttons" fxFlex="150px">
                <button mat-icon-button matTooltip="Move up" *ngIf="i > 0" (click)="moveUp(i)">
                  <mat-icon>
                    expand_less
                  </mat-icon>
                </button>
                <button mat-icon-button matTooltip="Move down" *ngIf="i < tryPartitions.length - 1"  (click)="moveDown(i)">
                  <mat-icon>
                    expand_more
                  </mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Delete partition" (click)="deletePartition(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>

        </div>



        <div class="toggle-partitions" *ngIf="tutorial.tutorialType === 'try'">
          <button mat-raised-button (click)="togglePartitionsHandler()">
            <span *ngIf="!showPartitions">Show partitions</span>
            <span *ngIf="showPartitions">Hide partitions</span>
          </button>
        </div>

        <ng-container *ngIf="showPartitions">
          <p>
            There are {{tutorial.partitions.length}} partitions we can extract from the acceptance criteria.
          </p>

          <ul>
            <li *ngFor="let partition of tutorial.partitions">
              {{partition.description}}
            </li>
          </ul>

          <mat-card class="partition-cards" *ngFor="let partition of tutorial.partitions">
            <div class="partition-title" [ngClass]="{'invalid': partition.type === 'Invalid', 'valid': partition.type === 'Valid'}">{{partition.type}}</div>
            <div class="example">{{partition.example}}</div>
            <hr *ngIf="partition.example" class="light-dotted" />
            <div class="example">{{partition.exampleDescription}}</div>
          </mat-card>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div fxFlex="50">
    <mat-card>
      <h2>Try it</h2>

      <ng-container *ngIf="formIsReady">
        <form [formGroup]="form">
          <mat-form-field *ngFor="let control of tutorial.formControls; let i = index">
            <mat-label>{{control.label}}</mat-label>
            <input
              *ngIf="control.type === 'textbox'"
              type="text"
              matInput
              [formControlName]="'control-' + (i + 1)"
              [errorStateMatcher]="matcher"
            />

            <textarea
            *ngIf="control.type === 'textarea'"
            matInput
            [formControlName]="'control-' + (i + 1)"
            [errorStateMatcher]="matcher"
            ></textarea>
            <mat-hint *ngIf="control.showCount && (control.type === 'textbox' || control.type === 'textarea')" class="character-count">{{form.controls['control-' + (i + 1)].value.length}}</mat-hint>
            <mat-error>
              <div *ngFor="let validation of control.validations">
                <span *ngIf="form.controls['control-' + (i + 1)].hasError(validation.errorType)">
                  {{validation.message}}
                </span>
              </div>
            </mat-error>

          </mat-form-field>

        </form>
      </ng-container>
    </mat-card>
  </div>
</div>

</ng-container>
